<h1>Welcome to Hooter</h1>
<ul>
  <% @tweets.each do |tweet| %>
    <div class="tweet-container">
      <%= erb :'/_partial/_tweet', layout: false, locals {tweet: tweet} %>
    </div>
  <% end %>
</ul>
